#item-info {
    margin-top: 60px;

    .container {
        max-width: 1100px;
        margin: 0 auto;
        background: #ffffff;

        .item-info-wrap {
            padding: 1.5rem;

            .title-links-wrap {
                margin-bottom: 1rem;
                h1 {
                    font-size: 2rem;
                    font-weight: 600;
                    color: $offBlack;
                    padding: 0.2rem 0;
                    display: inline;
                }

                .breadcrumbs {
                    display: flex;
                    align-items: center;
                    float: right;
                    padding-top: 7px;
                    a {
                        text-decoration: none;
                        font-size: 0.7rem;
                        color: $darkGray;
                        font-weight: 700;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .slash {
                        padding: 0 0.2rem;
                    }
                    p {
                        font-size: 0.7rem;
                        color: $darkGray;
                        font-weight: 400;
                    }
                }
            }

            p {
                font-size: 1.1rem;
                font-weight: 300;
                color: $grayBlack;
                line-height: 1.4;
            }
        }
    }
}

#item-products {
    .container {
        max-width: 1100px;
        margin: 0 auto;
        background: #ffffff;
        display: grid;
        grid-template-columns: 1fr;

        .products {
            background: #ffffff;
            border-top: 3px solid $lightGray;
        }

        .product-listings {
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 1.5rem;
            grid-row-gap: 2rem;
            padding: 0.8rem;

            .item {
                position: relative;
                overflow: hidden;
                height: 380px;
                padding: 10px;
                border: 2px solid transparent;
                transition: all 0.2s ease-in-out;

                &:hover {
                    border: 2px solid $darkGray;
                    background: transparent;
                    opacity: 0.9;

                    .item-img-wrap {
                        img {
                            transform: scale(0.9);
                        }
                    }

                    .item-text-wrap {
                        .basket-btn {
                            transform: translateX(0);
                        }
                    }
                }

                .item-img-wrap {
                    max-width: 220px;
                    display: block;
                    margin: 0 auto;

                    img {
                        width: 100%;
                        transition: all 0.2s ease-in-out;
                    }
                }

                .item-text-wrap {
                    text-align: center;
                    color: $offBlack;
                    padding: 0 5px;

                    h3 {
                        font-size: 1.1rem;
                        font-weight: 700;
                        font-family: 'Oswald', sans-serif;
                        letter-spacing: 1px;
                        padding: 20px 0 10px;
                    }

                    .item-info {
                        height: 50px;
                        p {
                            font-size: 0.8rem;
                            color: $black;
                            line-height: 1.3;
                            letter-spacing: 1px;
                        }
                    }

                    .item-price {
                        display: flex;
                        justify-content: center;
                        align-items: baseline;
                        padding-bottom: 10px;

                        .old-price {
                            color: $darkGray;
                            font-size: 1rem;
                        }

                        .sale-price {
                            font-size: 1.4rem;
                            font-weight: 700;
                            padding-left: 10px;
                        }
                    }

                    .basket-btn {
                        position: absolute;
                        top: -2px;
                        right: 0;
                        width: 100%;
                        background: $darkGray;
                        border: none;
                        outline: none;
                        text-transform: uppercase;
                        color: #ffffff;
                        padding: 0.5rem 0.75rem;
                        letter-spacing: 1px;
                        font-weight: bold;
                        transition: all 0.3s ease-in-out;
                        transform: translateX(101%);
                        cursor: pointer;

                        &:hover {
                            color: $offBlack;
                        }

                        .fa-shopping-cart {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    #item-products {
        .container {
            .products {
                .product-listings {
                    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
                    grid-template-rows: auto;
            
                    .item {
                        height: 360px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    #item-info {
        .container {
            .item-info-wrap {
                padding: 1rem;
                h1 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 0.9rem;
                }
            }
        }
    }

    #item-products {
        .container {
            max-width: 1100px;
            margin: 0 auto;
            background: #ffffff;
            display: grid;
            grid-template-columns: 1fr;
    
            .filter {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #item-info {
        .container {
            .item-info-wrap {
                padding: 0.5rem;
                padding-top: 1rem;
    
                .title-links-wrap {
                    margin-bottom: 1rem;
                    h1 {
                        font-size: 1.6rem;
                    }
    
                    .breadcrumbs {
                        padding-top: 7px;
                    }
                }
    
                p {
                    font-size: 0.9rem;
                    font-weight: 300;
                    color: $grayBlack;
                    line-height: 1.4;
                }
            }
        }
    }
}