#item-info {
    margin-top: 60px;

    .container {
        max-width: 1100px;
        margin: 0 auto;
        background: #ffffff;

        .item-info-wrap {
            padding: 1.5rem;

            h1 {
                font-size: 2rem;
                font-weight: 600;
                color: $offBlack;
                margin-bottom: 1rem;
                padding: 0.2rem 0;
            }

            p {
                font-size: 1.1rem;
                font-weight: 300;
                color: $grayBlack;
                line-height: 1.4;
            }
        }
    }
}

#item-products {
    .container {
        max-width: 1100px;
        margin: 0 auto;
        background: #ffffff;
        display: grid;
        grid-template-columns: 250px 1fr;

        .filter {
            background: $lightGray;
            padding: 1.5rem;

            h4 {
                font-size: 1rem;
                font-weight: 600;
                color: $black;
                letter-spacing: 1px;
                padding-bottom: 0.5rem;
            }

            .filter-price, .filter-brand, .filter-product {
                padding: 1.2rem 0 0.5rem;

                h5 {
                    font-size: 0.9rem;
                    font-weight: 600;
                    color: $grayBlack;
                }

                div {
                    padding-top: 0.8rem;
                    display: flex;
                    flex-direction: column;

                    span {
                        font-size: 0.85rem;
                        margin-bottom: 0.2rem;
                        padding: 0.2rem;
                        cursor: pointer;
                        max-width: 150px;
                        letter-spacing: 1px;
                        
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .products {
            background: #ffffff;
            border-top: 3px solid $lightGray;

            .product-options {
                display: flex;
                justify-content: space-between;
                width: 100%;
                border-bottom: 2px solid $lightGray;
                padding: 0.5rem 0.8rem;

                .search {
                    
                    input[type=search] {
                        padding: 0.5rem 0;
                        border: none;
                        outline: none;
                        font-size: 1.2rem;
                        font-weight: 300;
                        color: $darkGray;
                        -webkit-appearance: none;
                        appearance: none;

                        &:focus {
                            outline: none;
                            
                        }
                    }

                    input[type=search]::placeholder {
                        font-weight: 300;
                        color: $darkGray;
                    }

                    .glovesSearchIcon {
                        color: $darkGray;
                        padding-right: 0.5rem;
                    }
                }

                .view-options {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .sort-by {
                        span {
                            font-size: 0.9rem;
                            font-weight: 600;
                            padding-right: 0.4rem;
                            color: $grayBlack;
                        }

                        #sortBy {
                            font-size: 0.85rem;
                            font-weight: 400;
                            color: $grayBlack;
                            padding: 5px;
                            background: transparent;
                            -webkit-appearance: none;
                            appearance: none;
                        }
                    }

                    .breadcrumbs {
                        margin-left: 2rem;

                        a {
                            text-decoration: none;
                            font-size: 0.9rem;
                            font-weight: 600;
                            color: $grayBlack;

                            &:last-child {
                                font-weight: 400;
                                color: $darkGray;
                            }

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        span {
                            color: $grayBlack;
                        }
                    }
                }
            }
        }

        .product-listings {
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 1.5rem;
            grid-row-gap: 2rem;
            padding: 0.8rem;

            .item {
                position: relative;
                overflow: hidden;
                height: 320px;
                padding: 10px;
                border: 2px solid transparent;
                transition: all 0.2s ease-in-out;

                &:hover {
                    border: 2px solid $darkGray;
                    background: transparent;
                    opacity: 0.9;

                    .item-img-wrap {
                        img {
                            transform: scale(0.9);
                        }
                    }

                    .item-text-wrap {
                        .basket-btn {
                            transform: translateX(0);
                        }
                    }
                }

                .item-img-wrap {
                    max-width: 220px;
                    display: block;
                    margin: 0 auto;

                    img {
                        width: 100%;
                        transition: all 0.2s ease-in-out;
                    }
                }

                .item-text-wrap {
                    text-align: center;
                    color: $offBlack;
                    padding: 0 5px;

                    h3 {
                        font-size: 1.1rem;
                        font-weight: 700;
                        font-family: 'Oswald', sans-serif;
                        letter-spacing: 1px;
                        padding: 20px 0 10px;
                    }

                    .item-info {
                        height: 50px;
                        p {
                            font-size: 0.8rem;
                            color: $black;
                            line-height: 1.3;
                            letter-spacing: 1px;
                        }
                    }

                    .item-price {
                        display: flex;
                        justify-content: center;
                        align-items: baseline;
                        padding-bottom: 10px;

                        .old-price {
                            color: $darkGray;
                            font-size: 1rem;
                        }

                        .sale-price {
                            font-size: 1.4rem;
                            font-weight: 700;
                            padding-left: 10px;
                        }
                    }

                    .basket-btn {
                        position: absolute;
                        top: -2px;
                        right: 0;
                        width: 100%;
                        background: $darkGray;
                        border: none;
                        text-transform: uppercase;
                        color: #ffffff;
                        padding: 0.5rem 0.75rem;
                        letter-spacing: 1px;
                        font-weight: bold;
                        transition: all 0.3s ease-in-out;
                        transform: translateX(101%);
                        cursor: pointer;

                        &:hover {
                            color: $offBlack;
                        }

                        .fa-shopping-cart {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    #item-products {
        .container {
            .products {
                .product-listings {
                    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
                    grid-template-rows: auto;
            
                    .item {
                        height: 360px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    #item-info {
        .container {
            .item-info-wrap {
                padding: 1rem;
                h1 {
                    font-size: 1.5rem;
                    margin-bottom: 0.5rem;
                }

                p {
                    font-size: 0.8rem;
                }
            }
        }
    }

    #item-products {
        .container {
            max-width: 1100px;
            margin: 0 auto;
            background: #ffffff;
            display: grid;
            grid-template-columns: 1fr;
    
            .filter {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #item-info {
        .container {
            .item-info-wrap {
                padding: 0.7rem;
                h1 {
                    font-size: 1.4rem;
                    margin-bottom: 0.3rem;
                }

                p {
                    font-size: 0.7rem;
                }
            }
        }
    }

    #item-products {
        .container {
            .products {
                border-top: 2px solid $lightGray;
    
                .product-options {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
    
                    .search {
                        width: 100%;
                        text-align: center;

                        input[type=search] {
                            text-align: center;
                            padding: 0rem;
                            margin: 0.3rem;
                            padding: 0.2rem 0;
                            border-bottom: 1px solid $gray;
                        }
                    }
    
                    .view-options {
                        margin-top: 0.6rem;
                        margin-bottom: 0.6rem;
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                        .sort-by {
                            span {
                                font-size: 0.8rem;
                                font-weight: 600;
                                padding: 0;
                                color: $grayBlack;
                            }
    
                            #sortBy {
                                font-size: 0.7rem;
                                font-weight: 400;
                                color: $grayBlack;
                                padding: 2px;
                                background: transparent;
                                -webkit-appearance: none;
                                appearance: none;
                            }
                        }
    
                        .breadcrumbs {
                            margin-left: 0rem;
    
                            a {
                                text-decoration: none;
                                font-size: 0.8rem;
                                font-weight: 600;
                                color: $grayBlack;
    
                                &:last-child {
                                    font-weight: 400;
                                    color: $darkGray;
                                }
    
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
    
                            span {
                                color: $grayBlack;
                            }
                        }
                    }
                }
            }
        }
    }
}