@import 'reset';
@import 'glider';
@import 'variables';
@import 'navbar';
@import 'mobile-menu';
@import 'top-carousel';

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:400,600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;

    background: url('https://raw.githubusercontent.com/EbrahemLuhar/minified-boxing-images/master/boxing-bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overlay {
    transition: all 0.3s ease-in;
}

.overlay-active {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    background: rgba(0, 0, 0, .1);
}