$black: #0D0D0D;
$offBlack: rgb(39, 39, 39);
$gray: #D9D9D9;
$darkGray: rgb(167, 167, 167);
$redBrown: #593122;
$darkSand: rgb(190, 98, 64);
$orange: rgb(240, 147, 8);
$yellow: rgb(255, 238, 0);
$lightBlue: #63B6BF;
$blueWhite: rgb(231, 231, 253);